@import 'normalize.css';

:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: 'Jockey One', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;

  background: #f8f7fe;

  overflow: hidden;

  user-select: none;

  margin: 0;
}

#root {
  padding: 16px 0;
  overflow-y: auto;
}
