.timer {
  border: 2px solid #8375e9;
  border-radius: 20px;
  padding: 24px;
  height: 64px;
  width: 100%;

  background: #fff;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #8375e9;
}
